<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  
  <body>
    <div>
      <span>
        <div class="container">
          <div class="row justify-content-md-left">
            <div class="col col-lg-6">
  
  
              <form style="border-style: solid;">
                <div style="background-color:rgb(247, 241, 237 );">
                  <div align="center">
                    <h3 style="background: rgb(236, 239, 255  );">Factura</h3>
                  </div>
                  <label style="margin-left: 30%">Tipo</label>
  
                  <input type="Text" style="width:5%">
                  <label style="margin-left: 20%">Nro</label>
  
                  <input type="Text" style="width:5%">
                  <input type="Text" style="width:25%"> <br>
                  <label style="margin-left: 5%">Cliente</label>
                  <select style="width:35%"></select>
                  <label style="margin-left: 23%">Fecha</label>
                  <input type="Text" style="width:17%"> <br>
                  <label style="margin-left: 5%">Nombre</label>
                  <label style="margin-left: 30%">CUIT</label> <br>
                  <input type="Text" style="margin-left: 5%" style="width:35%">
                  <input type="Text" style="margin-left: 8%" style="width:35%"> <br>
                  <label style="margin-left: 5%">Dirección</label> <br>
                  <label style="margin-left: 4%"></label>
                  <input type="Text" style="width:90%"> <br> <br>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Cant</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">PU</th>
                        <th scope="col">IVA</th>
                        <th scope="col">S Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <label style="margin-left: 65%">Total</label>
                  <input type="Text" style="width:25%">
                </div>
              </form>
            </div>
          </div>
        </div>
      </span>
    </div>
  </body>